[Desktop Entry]
Hidden=true
Comment=Color temperature adjustment tool
Type=Application
GenericName=Color temperature adjustment
Categories=Utility;
Terminal=false
Version=1.0
Icon=redshift
Name=Redshift
X-GNOME-Autostart-enabled=false
StartupNotify=true
Exec=redshift-gtk

