/*Copyright: 2012 Yongqian Li*/

a.smarterwiki-popup-bubble.smarterwiki-popup-bubble-lite
{
    background-color: transparent !important;
    background-image: url("http://static.smarterfox.com/media/popup_bubble/wiki-popup-bubble-lite.gif") !important;
    /*background-image: url("http://static.smarterfox.com/media/popup_bubble/wiki-bubble.png") !important;*/
    /*background-image: url(chrome://smarterwiki/content/popup_bubble/wiki-bubble-square.png) !important;*/
    background-repeat: no-repeat !important; 
    background-position: 0 0 !important;
    /*
    margin-top: -23px !important; 
    margin-left: -25px !important; 
    */
    margin-left: -30px !important;
    margin-top: -36px !important;
    margin-bottom: 0 !important; 
    margin-right: 0 !important; 
    position: absolute !important; 
    /*
    height: 30px !important; 
    width: 26px !important; 
    */
    width: 30px !important; 
    height: 36px !important; 
    text-decoration: none !important; 
    border: none !important;
    display: inline !important;
}


.smarterwiki-popup-bubble
{
    text-align: right !important;
}

.smarterwiki-popup-bubble *
{
    padding: 0 !important;
    border: none !important;
    margin: 0;
    outline: 0 !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    font-style: inherit !important;
    font-family: inherit !important;
    line-height: inherit !important;
    background: none !important;
    background-color: transparent !important;
    text-align: left !important;
    min-width: 0 !important;
    /*height: auto; *//*adding !important interferes with slideUp and slideDown */
    vertical-align: baseline !important;
    text-indent: 0 !important;
    
    position: static !important;
    box-sizing: content-box !important;
    -webkit-box-shadow: none;
}

.smarterwiki-popup-bubble tt, 
.smarterwiki-popup-bubble code, 
.smarterwiki-popup-bubble kbd, 
.smarterwiki-popup-bubble samp {
    font-family: monospace !important;
}
.smarterwiki-popup-bubble
{
    margin: 0;
    width: auto;
    box-sizing: content-box !important;
    position: absolute !important;
    font-size: 12px !important;
    font-weight: normal !important;
    font-style: normal !important;
    line-height: normal !important;
    background-color: transparent !important;

    position: absolute !important; 
    display: inline !important;
    line-height: 0 !important;
    z-index: 2147483647 !important;

    vertical-align: baseline !important;
    /*margin-top: -36px !important; */ /* 3*2 + 3*2 + 18 + 9-3 */
    /* margin-left: -30px !important; */ /* 3*2 + 3*2 + 18 */
}
.smarterwiki-popup-bubble:hover
{
    opacity: 1.0 !important;
}

.smarterwiki-popup-bubble-body
{
    -moz-border-radius: 7px !important;
    -o-border-radius: 7px !important;
    border-radius: 7px !important;
    border: 3px solid #909090 !important;
    background-color: #F5F5F5 !important;
    display: block !important;
    line-height: 0 !important;
    -moz-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2) !important;
    -webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2) !important;


    background: #F5F5F5; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfcfc 0%, #f5f5f5 33%, #f5f5f5 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(33%,#f5f5f5), color-stop(100%,#f5f5f5)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f5f5f5 33%,#f5f5f5 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcfcfc 0%,#f5f5f5 33%,#f5f5f5 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcfcfc 0%,#f5f5f5 33%,#f5f5f5 100%) !important; /* IE10+ */
    background: linear-gradient(top,  #fcfcfc 0%,#f5f5f5 33%,#f5f5f5 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f5f5f5',GradientType=0 ) !important; /* IE6-9 */
}

.smarterwiki-popup-bubble-detailed a
{
    color: #36C !important;
    text-decoration: none !important;
}

.smarterwiki-popup-bubble-detailed .smarterwiki-popup-bubble-body
{
    padding: 10px !important;
    /*background-color: #F8F8F8 !important;*/    
    color: black !important;
}

.smarterwiki-popup-bubble.smarterwiki-popup-bubble-detailed .smarterwiki-popup-bubble-definition
{
    line-height: normal !important;
    /*text-align: justify !important;*/
    display: inline-block !important;
    margin-bottom: 10px !important;
    font-size: 13px !important;
    color: black !important;
    width: 100% !important;
    text-shadow: white 0.8px 0.8px 0px !important;
}

.smarterwiki-popup-bubble.smarterwiki-popup-bubble-detailed
{
    width: 350px !important;
    margin-left: -175px !important; /* same as neg of .smarterwiki-popup-bubble-link margin */
}
.smarterwiki-popup-bubble-detailed .smarterwiki-popup-bubble-tip
{
    margin-right: 182px !important; /* half of width + 7px*/
}


.smarterwiki-popup-bubble b
{
    font-weight: bold !important;
}

span.smarterwiki-popup-bubble-tip
{
    /*background: transparent url("http://static.smarterfox.com/media/popup_bubble/popup-bubble-tip.png") no-repeat 0 0 !important;*/
    /*
    background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAJCAYAAAAGuM1UAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALUwAAC1MB/7vZcQAAAAd0SU1FB9kFERYrDlDDV2EAAAC7SURBVBjTfY8xjoJQFEUP+DfhgqayMLFmzOzg7mAK4wLYh42dC4CpKchv7Mh0U5BAjIV5fmzAIGE83X057+a9KE3TDghAnCQJU7z3lGWJmXVAFPfzGKBt2zn5bmYAEXCOgRUzeO8pigIzWwA3YAd8OKCeylmWUVXVEP+AjaQfADcWm6Yhz3Pq+tlRAGtJv8PATZtDCEM8AF+SrmPnZaGXO+Bb0n7uNwfYKF+AT0lH/sH1d56AJbCVVPKGBypmT/cMB8fbAAAAAElFTkSuQmCC") no-repeat 0 0 !important;
    */
 
    background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAJCAYAAAAGuM1UAAAD9WlDQ1BJQ0MgUHJvZmlsZQAAKFONUs9vG0UU/uwdO0gJe0ClKS4KK360UZVEmxaVRKUFO04dp8G1nKQkERLarMfxko297K7TNsqpF7hR4A8AQg8ckDghFQqivbQ9ULVSlaKIqBJSD6n4IUSlXlBk3uza3k2xoGPtzOf3vvfe994M0PGFZllmVAGWKq5dyKSUmdk5pWMDUTyDTiTQqemOlcznJ0BLcMW5cz28g4g4b/e39//n6ixyRwciTxCuFh19ifAZIGbqlu0C8XtkHzrtWoQ7niW8yyaBhFWBF3ycFnjexzMeZ6owQlhokfWyViS8SrhvPmRfCGFfg7d2ZXiF24auiFnk7WrJMHnD9Rjux1xLZq1Zr4e+Lmdx8gSdvaL3sj1WaOBPdW10kvCLhK9bbkrY9xH+rbY4nSR8AIg+VbKPT/v86Ksr5ak3Ce8mXDTc7FTDvlKZz530Y6Nri9UTIo/gXNedEZoZnid8t8yz4o5Jj4QiT48S7iPcU66NNfJL487ypLB7eVbKIzk/j2S/o43nCScIv29XC6IWaZbWuJkRtSi/dNVy8w0N0lbFzIlalJPJ3PF69OxueWrMj2WHXbpEP5bNlYzj2QZ/1TK9t0ja2AW7VhDaBOeWZo9m/DzsL16ZbuSM7SlqaTHbAcLHcCqigaOKedp1VLANBQVkkKLTgk2eEgyYZOHk5WQxIk9ikWzteXmP4+OAseBFb4loqtKe41e43+BUWTdT2SH6jrAJdpQNsWEo7DX2OjvG0mQdZkdasflQfVHrfivPu6hRVsE7hdT5RK03qHfOftvQb37w547o6r80ex0LPeEJwKEJNJn94f6vrX63J8ixzi6+dbvr2ipO/t98Y/diW7F12jdimwEj9nNsk34bSJI201O0RJ/h6XBCCsI9XKHPhUb7L8Srhng7KpYq5xOBR0yCv5d7mMO5vsCq/qT+rq6rn6kX1F8fmXLbKUkfS19L30vfSN9KP0KRLktXpB+kq9JX0qVWRPu797O07t7rt9mt8LSbNYcpp+S98gtyWn5OfkmeCPLJ3fKgPCbvJ8/e1r2F64V7MTBLe3Oq7Wv5vGnyGjjtdeB4E67g7M6pNqNZDxtk2Ude7ZB4y01GfDSejiehxA/Eh+OD8XGBm/ri+8k3TPtoS70/mfYd8BAr3Ge/9+rEWxXRy57PAXf5GRe0RqrWWdtYKLvKQVV9RUlalsmVbEUf6FM001Q8l6PY3OH2Mi8OYGZ2ThFxwIMCInREdt8MbO4bwNE/AOlWYJurAV86QPfLga03ATz9CXDxsF6zl30bIpEbgFM6dND/15UCYnfr9Qf7gI6PgO0P6/W/1+r17c8p/yZw2fwHWQBxeHpJlTsAAACoSURBVBhXY6itrf0PxH9B9NevXzHwli1b/jc1Nf2vqan5B1LDANUAxteuXcOm+A+SmpsMQJ1e2DSAFCMp/AnEjeXl5XIM1dXVFuga5s+fj6z4ZWVlpfX///8ZQBhFw5EjR/5PnDgRrhho+zmgvCxMMYaGhoYGZJNXpaWlcSErxtAANfUfUKwGXSGyBhMkDZ+BGgLQFaFoCA0NZQYq3AZUeB5I66IrQMcAZw8hzwBF/5AAAAAASUVORK5CYII=") no-repeat 0 0 !important;

    margin-top: -3px !important;
    display: inline-block !important;
    height: 9px !important;
    width: 12px !important;
    clear: both !important;
    margin-right: 7px !important;
}
.smarterwiki-popup-bubble-flipped span.smarterwiki-popup-bubble-tip
{
    /*background: transparent url("http://static.smarterfox.com/media/popup_bubble/popup-bubble-tip.png") no-repeat 0 0 !important;*/
    /*
    background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAJCAYAAAAGuM1UAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALUwAAC1MB/7vZcQAAAAd0SU1FB9sLHgcJFyRlf/oAAAC8SURBVBjThc87SsVgFEXh7+b+WIgkkEKwkHQ2IWBqyQBMZWPrFDIBsbG5Zc4AnICFjVgJVmIlpHA8Pqqg+IinWxsWe5/VOI5r3GIPZ8MwvFi4DC2OcYiniDj5T0hfeAc3EXG+JHxClsEKlxFxHRHbi0LXdcqynPEUjxGx/6dQFIW+71VVNUctniPiaA4Syu+1c9M0TbCLh4jY4CrD3W/P1XWtbVsppVds4QL386Q3yPP8h9Q0zTqlBO84+AB5gibLVsqfggAAAABJRU5ErkJggg==") no-repeat 0 0 !important;
    */
    
    background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAJCAYAAAAGuM1UAAAD7WlDQ1BJQ0MgUHJvZmlsZQAAKFONUs9vE1cQ/ux9diol3UNFCTVVuuoPiFASbaCiiSi0dmwcB9exnJgmEVK1WT/H22zs7e46QJQTl/ZW2v4BbVMOPVTqqRL9pcIFOIBAQmkVNUKqxCGoLUIgcakid3bXzm7AlD5r3/s8883MN/Me0PG1Yhh6WAIWqrZZSCekqekZqWMNYbyATsTQqaiWEc/ns6DlcPHYevgrQs55s7+9/z9XZ4lbKhB6hnCtZKkLhE8BEV01TBuI3ib70EnbINzxIuEdJgkkLDt4zsNJB896eMrlTBZGCDtaRLWilAgvE+6bDdjnAtjT4K4daV7lpqZKzizyZq2s6Twg9ynu/7kW9HqrXg99Xdb8xDE6e53eK+ZooYm/UJXUBOFXCV8x7IRj30P4r/p8MU54HxB+rmweLXr88JtLlcl3Ce8kXNLszGTTvlSdzY17seGV+dqxQpNzRbVGaGZ4mfCtCs9kPT0CSjyZItxHuKdSH23mF8asxYlUK89SZSTn5RHM95WxPOEY4Y/MWmHc0yyscD1d8PILlww739QgbFT1XNbLyURuuT26drsyOerFsoM2XaIXy2bK2tFMk79s6O5bJG3snFkvFJucG4qZSnt52H1eLTZzRnaVlKQz2wHCR3A8pICjhlnaVVSxCQkFpJGg04BJnjI06GTh5OVk0ULPYp5s7Xl5l+NhnzHnRm840VSlPcercKfJqbFuJrMD9B1iWXaYDbFhSOwt9jY7wpJkHWaHtmLzgfpOrTtbeT5AnbI6vONInI3Ve/16Z8z3NPX6x/e2Rdce08xbeoITgEUTaDH7g/1fXv5pl59jlZ0/cbPr8jLGnzbfyO3IRmSV9rXIus+I/B5Zp98a4qRNdxUt0Ke5OqyAgmAPF+mzodD+B/FqAd62iuXq2ZjvcSbBP8w9zOFMn2+Vf5P/llflL+Vz8p+PTLntlITPhO+En4XvhR+Eq5CEC8JF4RfhkvCt8GPgrp78Prbu3u231a3jaTdrDl1MiLvFV8Sk+JL4mpj184nd4qA4Ku4lz+6tewvWC/aiYZr21lTb1/J4RfJqOOl2YLkTruL09qm2olkPG2SZR17tkPOWW4xoKpqMxiFF90WHo4PRMQe39EX3km+Y9tS2V6c+oQMeYAX77HdfnfNWnehF12eB2/yUDVojNeO0qc1VbGm/LL8hxQ1D51Kmqg70SYquS67LkkxucXORlwYwNT0jwV0PCgjREdp53bfZ7wCH7wLCDd82Uwe+sYDu131bbwx4/nPg/EG1bi56NoRC1wCrfGC/968rAURuNRoP9gAdnwKbnzQa/6w0GptfUf514IL+L1kAcXjq6rDEAAAAqUlEQVQYV2MIDQ1lrq2t3VZVVXUeSOv+//+fAR9mqK6uNgEq/A/Fn8vKygIIabBA0vC/srLyX2lpaQ1RGhoaGv4jaV6VlpbGhVfDkSNH/k+cOBGuqaam5lxWVpYsTg2vX7/+/+fPn//z589Htukl0InWcA1AN3uhawDhLVu2IGv6CcSN5eXlcgzIHkbWANPU1NT0B0nNTZiGvyAaWTEMnz9/HqQJHHogNQB35SNAUnW8QAAAAABJRU5ErkJggg==") no-repeat 0 0 !important;

    margin-top: 0px !important;
    margin-bottom: -3px !important;
}

a.smarterwiki-popup-bubble-link
{
    text-decoration: none !important; 
    display: inline-block !important;
    margin-left: 2px !important; 
    margin-right: 2px !important; 
}

.smarterwiki-popup-bubble-links
{
    display: block !important;
}

.smarterwiki-popup-bubble-links-row
{
    margin-top: 4px !important; 
    margin-bottom: 4px !important;
    margin-left: 2px !important; 
    margin-right: 2px !important; 
    display: block !important;
    text-align: right !important;
}

img.smarterwiki-popup-bubble-link-favicon
{
    height: 18px !important; 
    width: 18px !important; 
    display: block !important;
}

img.smarterwiki-popup-bubble-link-badge
{
    height: 20px !important; 
    width: 20px !important; 
    display: block !important;
}

img.smarterwiki-popup-bubble-link-badge-label
{
    height: 8px !important; 
    width: 20px !important; 
    display: block !important;
}


span.smarterwiki-zc-header
{
    display: block !important;
    font-weight: bold !important;
    font-size: 14px !important;
    color: #434343 !important;
    margin-bottom: 6px !important
}
span.smarterwiki-zc-abstract
{
    font-family: 'Helvetica Neue', 'Segoe UI', Arial, sans-serif !important;
    line-height: 19px !important;
    color: #222 !important;
}
span.smarterwiki-zc-image
{
    margin-left: 10px;
    float: right;
}
img.smarterwiki-zc-image-img
{
    max-height: 100px;
    max-width: 100px;
}