/*========================================
            CSS RESET
========================================*/
/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

/* styles */
body {
    background-color: #e7ecf3;
}

.row {
    float: left;
    width: 100%;
    margin-top: 25px;
}
#container {
    width: 1040px;
    margin: auto;
}
h1 {
    font-family: "Droid Sans", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #657991;
    text-shadow: 0 1px rgba(255,255,255,.69);
    font-size: 30px;
}
h2 {
    font-family: "Lato", sans-serif;
    font-size: 30px;
    font-weight: 300;
}
#top {
    float: left;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 10px;
}
#top .logo {
    float: left;
    margin-left: 30px;
    width: 238px;
    height: 61px;
    background: url('../img/fastestfox-logo.png') no-repeat;
}
#nav {
    height: 60px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #5d7ba1;
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.05), rgba(255,255,255,.05));
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.05), rgba(255,255,255,.05));
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.05), rgba(255,255,255,.05));
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.05), rgba(255,255,255,.05));
    background-image: linear-gradient(to top, rgba(0,0,0,.05), rgba(255,255,255,.05));
    float: left;
    width: 100%;
    overflow: hidden;
}
#nav ul li {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    display: inline;
    padding: 0 55px;
    float: left;
    list-style: none;
    height: 60px;
    line-height: 65px;
}
#nav ul li a {
    color: #fefefe;
    text-decoration: none;
}
#nav ul li.active {
    background-color: #48586c;
    -webkit-box-shadow: inset 0 5px 18px rgba(0,0,1,.18);
    -moz-box-shadow: inset 0 5px 18px rgba(0,0,1,.18);
    box-shadow: inset 0 5px 18px rgba(0,0,1,.18);
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}
#nav ul li a:hover {
    border-bottom: 2px solid #fff;
}
#slider {
    text-align: center;
    float: left;
    width: 100%;
    overflow: hidden;
    height: 615px;
    position: relative;
}
#slider .slides {
    width: 100%;
    float: left;
}
#slider li {
    float: left;
    display: block;
    position: relative;
    width: 100%;
}
#slider .text {
    margin: auto;
    width: 680px;
}
#slider .image {
    float: left;
    width: 100%;
    margin-top: 25px;
}
#slider .image img {
    margin: auto;
}
#slider .image div.graph {
    background: url('../img/graph.png') center top no-repeat;
    height: 380px;
}
#slider .buttonarea {
    width: 100%;
    float: left;
    position: relative;
    height: 52px;
    margin-top: 15px;
}
#slider .button {
    width: 168px;
    height: 52px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #75c66f;
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.05), rgba(255,255,255,.05));
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.05), rgba(255,255,255,.05));
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.05), rgba(255,255,255,.05));
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.05), rgba(255,255,255,.05));
    background-image: linear-gradient(to top, rgba(0,0,0,.05), rgba(255,255,255,.05));
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    font-family: "Droid Sans", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 1px rgba(42,82,40,.48);
    line-height: 54px;
}
#slider .button:hover {
    background-color: #75c66f;
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.14), rgba(255,255,255,.14));
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.14), rgba(255,255,255,.14));
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.14), rgba(255,255,255,.14));
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.14), rgba(255,255,255,.14));
    background-image: linear-gradient(to top, rgba(0,0,0,.14), rgba(255,255,255,.14));
}
#slider h2 {
    color: #89919b;
    text-shadow: 0 1px rgba(255,255,255,.69);
    line-height: 54px;
    margin-top: 40px;
}

.centertext {
    text-align: center;
}
.nomargin {
    margin-top: 0;
}
#content {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0,0,1,.06);
    -moz-box-shadow: 0 0 5px rgba(0,0,1,.06);
    box-shadow: 0 0 5px rgba(0,0,1,.06);

    padding: 95px 130px;
}
div.post {
    margin-top: 20px;
    margin-bottom: 20px;
}
div.post.intro {
    margin-top: 95px;
    margin-bottom: 120px;
}
.post p {
    margin-bottom: 25px;
}
h3 {
    font-family: "Droid Sans", sans-serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 50px;
}
h4 {
    font-family: "Droid Sans", sans-serif;
    font-weight: normal;
    font-size: 17px;
}
h5 {
    color: #b0bbc7;
    font-size: 14px;
    font-family: "Droid Sans", sans-serif;
    text-transform: uppercase;
    line-height: 30px;
}
.post h3, .post.half h4 {
    font-size: 21px;
    color: #657991;
    text-shadow: 0 1px rgba(255,255,255,.69);
}
.post .text {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #939CA6;
    font-size: 15px;
    line-height: 25px;
}
.post.intro p {
    font-size: 20px;
    line-height: 35px;
}
div.post.half {
    width: 50%;
}
ul.share {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
ul.share li {
    display: inline-block;
    font-family: "Droid Sans", sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0,0,0,.36);
    padding: 0 17px;
}
ul.share li a {
    display: block;
}
ul.share li.facebook a {
    background-color: #3b5a9b;
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.19), rgba(255,255,255,.19));
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.19), rgba(255,255,255,.19));
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.19), rgba(255,255,255,.19));
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.19), rgba(255,255,255,.19));
    background-image: linear-gradient(to top, rgba(0,0,0,.19), rgba(255,255,255,.19));
}
ul.share li.facebook a:hover {
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.30), rgba(255,255,255,.19));
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.30), rgba(255,255,255,.19));
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.30), rgba(255,255,255,.19));
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.30), rgba(255,255,255,.19));
    background-image: linear-gradient(to top, rgba(0,0,0,.30), rgba(255,255,255,.19));
}
ul.share li.twitter a {
    background-color: #53aff0;
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.19), rgba(255,255,255,.19));
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.19), rgba(255,255,255,.19));
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.19), rgba(255,255,255,.19));
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.19), rgba(255,255,255,.19));
    background-image: linear-gradient(to top, rgba(0,0,0,.19), rgba(255,255,255,.19));
}
ul.share li.twitter a:hover {
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.25), rgba(255,255,255,.19));
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.25), rgba(255,255,255,.19));
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.25), rgba(255,255,255,.19));
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.25), rgba(255,255,255,.19));
    background-image: linear-gradient(to top, rgba(0,0,0,.25), rgba(255,255,255,.19));
}
ul.share li a span {
    padding: 0 55px 0 80px;
}
ul.share li.facebook a span {
    background: url('../img/share-facebook-icon.png') 25px 0 no-repeat;
}
ul.share li.twitter a span {
    background: url('../img/share-twitter-icon.png') 25px 0 no-repeat;
}
ul.share li a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    padding: 15px 0 15px 0;
}
#footer {
    float: left;
    width: 100%;
    height: 60px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #5d7ba1;
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.05), rgba(255,255,255,.05));
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.05), rgba(255,255,255,.05));
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.05), rgba(255,255,255,.05));
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.05), rgba(255,255,255,.05));
    background-image: linear-gradient(to top, rgba(0,0,0,.05), rgba(255,255,255,.05));
    position: relative;
    margin-bottom: 50px;

    font-family: "Lato", sans-serif;
    font-size: 14px;    
}
#footer small {
    text-transform: uppercase;
    color: #233c5b;
    text-shadow: 0 1px rgba(255,255,255,.3);
    line-height: 62px;
    float: left;
    margin-left: 30px;
}
#footer small a {
    color: #223c5b;
}
#footer ul.nav {
    float: right;
    margin-right: 30px;
}
#footer .logo {
    width: 122px;
    height: 28px;
    background: url('../img/ff-footer-logo.png') no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
#footer ul.nav li {
    display: inline;
    text-transform: uppercase;
    line-height: 62px;
    padding: 0 10px;
}
#footer ul.nav li a {
    color: #fff;
    text-decoration: none;
}
#footer ul.nav li a:hover {
    border-bottom: 2px solid #fff;
}
.content {
    padding-left: 65px;
    padding-right: 65px;
}
hr {
    border:none;
    background-color: #e7ecf2;
    margin: auto;
    width: 910px;
    margin-top: 60px;
}
.flex-direction-nav {
    position: absolute;
    top: 300px;
}
.flex-direction-nav li a {
    width: 38px;
    height: 38px;
    position: absolute;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.flex-direction-nav a.flex-prev {
    background: url('../img/slide_prev.png') #ccd5e1 center no-repeat;
    left: 0;
}
.flex-direction-nav a.flex-next {
    background: url('../img/slide_next.png') #ccd5e1 center no-repeat;
    left: 1002px;
}


/* OPTIONS PAGE */
#optionspage #container {
    width: 586px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 60px;
    margin-top: 110px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
#optionspage #container .logo {
    width: 238px;
    height: 61px;
    background: url('skin/img/fastestfox-logo.png') no-repeat;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
}
#optionstop {
    float: left;
    width: 100%;
    height: 58px;
    text-align: center;
    background-color: #5c799d;
}
#optionstop h2 {
    font-family: "Droid Sans", sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
}
#optionsmain {
    float: left;
    width: 100%;
    background-color: #fff;
}
.sectiontop {
    float: left;
    width: 100%;
    background-color: #ecf0f6;
    height: 55px;
    padding-left: 52px;
}
.sectiontop h3 {
    font-family: "Droid Sans", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 16px;
    color: #949cab;
    margin-top: 4px;
}
.sectionmain {
    float: left;
    width: 586px;
    padding: 37px 0;
    background-color: #f6f9fb;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #949cab;
}
.sectionmain a {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #758db5;
}
.sectionmain p {
    line-height: 28px;
}
.sectionmain > * {
    width: 100%;
    padding-left: 52px;
    padding-right: 52px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.sectionmain .highlighted-option {
    background-color: #ffcccc;
}
.sectionmain ul.input li {
    float: left;
}
.sectionmain ul.input li:first-child {
    width: 190px;
}
.sectionmain ul li {
    display: inline;
    padding: 15px 0 12px 0;
    line-height: 25px;    
}
.toggle-option:after
{
    clear: both;
    content: ".";
    height: 0;
    display: block;
    visibility: hidden;
}
.sectionmain ul.toggle-option li {
    float: right;
    width: 75px;
}
.sectionmain ul.toggle-option li:first-child {
    width: 407px;
}
.sectionmain ul.toggle-option:first-child {
    padding-top: 0 !important;
    margin-top: -10px;
}
.sectionmain ul li input[type="text"] {
    width: 204px;
    height: 33px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    /*border: none;*/
    border: 1px solid #ccc;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0,0,1,.1);
    -moz-box-shadow: 0 0 5px rgba(0,0,1,.1);
    box-shadow: 0 0 5px rgba(0,0,1,.1);
    float: left;
    color: #949cab;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
}
.sectionmain ul li input[type="text"].default {
    color: #c7cfd8; 
}
.sectionmain ul li form {
    width: 100%;
    margin-top: -6px;
}
.sectionmain ul li a {
    box-shadow: 0 1px #fff;
    float: left;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.sectionmain .button {
    background-color: #d7e0e4;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
    float: left;
    width: 55px;
    height: 22px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    position: relative;
    cursor: pointer;
}
.sectionmain .button.active, .sectionmain .button.active .toggler .togglersquare {
    background-color: #ace582;
}
.sectionmain .button .toggler {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px rgba(0,0,1,.16);
    -moz-box-shadow: 0 1px rgba(0,0,1,.16);
    box-shadow: 0 1px rgba(0,0,1,.16);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.03), rgba(255,255,255,.03));
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.03), rgba(255,255,255,.03));
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.03), rgba(255,255,255,.03));
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.03), rgba(255,255,255,.03));
    background-image: linear-gradient(to top, rgba(0,0,0,.03), rgba(255,255,255,.03));
    float: left;
    position: relative;
    -moz-transition: margin-left 0.3, -moz-transform 0.3s;
    -webkit-transition: margin-left 0.3s, -webkit-transform 0.3s;
    -o-transition: margin-left 0.3s, -o-transform 0.3s;
    transition: margin-left 0.3s, transform 0.3s;
}
.sectionmain .button.active .toggler {
    margin-left: 35px;
}
.sectionmain .doublelist .button.active .toggler {
    margin-left: 20px;
}
.sectionmain .button .toggler .togglersquare {
    width: 6px;
    height: 6px;
    background-color: #d7e0e4;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,1,.17);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,1,.17);
    box-shadow: inset 0 1px 3px rgba(0,0,1,.17);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.doublelist {
    width: 90%;
    margin: 30px auto;
}
.doublelist h4 {
    margin-bottom: 10px;
    font-family: "Droid Sans", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}
.doublelist ul.toggle-option {
    float: left;
    width: 50%;
}
.doublelist ul.toggle-option:first-child {
    margin-top: 0;
}
.doublelist ul.toggle-option li {
    width: 45px;
    float: left;
}
.doublelist ul.toggle-option li:first-child {
    width: 155px;
    float: right;
}
.doublelist .button {
    width: 40px;
}

.sectionfull {
    margin-top: 35px;
    float: left;
    width: 100%;
}

.chrome-only 
{
    display: none;
}
.chrome-browser .chrome-only
{
    display: block;
}
img.search-engine-icon
{
    width: 20px;
    vertical-align: middle;
    margin-top: -4px; /* works for any img height or line height */
    margin-right: 2pt;
}

#custom-config
{
    width: 100%;
    float: left;
    clear: both;
    padding: 0 57px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#custom-config ul {
    width: 100%;
}
#custom-config ul li {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 25px;
}
#custom-config ul li:first-child {
    margin: 0 0 12px 0;    
}
#custom-config ul li input[type="text"] {
    width: 100%;
    height: 33px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #ccc;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0,0,1,.1);
    -moz-box-shadow: 0 0 5px rgba(0,0,1,.1);
    box-shadow: 0 0 5px rgba(0,0,1,.1);
    float: left;
    color: #949cab;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: none;
}
.sectionmain ul li input[type="text"].default {
    color: #c7cfd8; 
}


.clearfix:after
{
    clear: both;
    content: ".";
    height: 0;
    display: block;
    visibility: hidden;
}
.clearfix:before
{
    /* mostly not needed */
    clear: both;
    content: ".";
    height: 0;
    display: block;
    visibility: hidden;
}

.enable-link
{
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
}
.enable-button
{
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: #49a21c;
    display: inline-block;
    line-height: 0;
    padding: 20px;    

    background-color: #5aaa60;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#60c560),to(#5aaa60));
    background-image: -moz-linear-gradient(top,#60c560,#5aaa60);
    background-image: -ms-linear-gradient(top,#60c560,#5aaa60);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#60c560),color-stop(100%,#5aaa60));
    background-image: -webkit-linear-gradient(top,#60c560,#5aaa60);
    background-image: -o-linear-gradient(top,#60c560,#5aaa60);
    background-image: linear-gradient(top,#60c560,#5aaa60);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#60c560',endColorstr='#57a957',GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #5aaa60 #5aaa60 #3D773D;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.enable-button:hover
{
    opacity: 0.6;
}

.enable-button-image
{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    vertical-align: middle;
}

.enable-button-image-facebook
{
    padding-top: 4px;
    padding-buttom: 4px;
}
    
.enable-button-image-twitter
{
    padding-top: 6px;
    padding-bottom: 7px;
}
    
.enable-label
{
    font-size: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*height: 20px;*/
}

.enable
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 245px;
}

a.screenshot.thumbnail
{
    border: 3px solid #C9E8F3;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    height: 150px;
    width: 200px;
}

.screenshot.thumbnail img 
{
    display: block;
    margin: 0;
}

textarea#feedback-response-text
{
    border: 3px solid #C0C0C0;
    /*font-family: verdana,arial,helvetica,sans-serif;*/
    font-family: monospace;
    width: 100%;
}