/*Copyright: 2012 Yongqian Li*/

.related-shopping-search-widget
{
    width: 100%;
    height: 125px;
    border: 0;
    padding: 0;
}
.smarterwiki-related-search-results
{
    margin: 0 0 0px 0;
}